* {
  margin:0 auto;
}

body {
  font-size:16px;
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

.recipe_top {
  display:flex;
  flex-wrap: wrap;
  height: 800px;
  width: 1600px;
  /*hæðin á row fer eftir þessu height*/
}

.image_top {
  position: absolute;
  display:flex;
  justify-content: flex-end;
}
