@import './config';

// stílar fyrir bókahluta

.book {
  background: linear-gradient($color-6, $color-6 80%, $white 25%);
  display: flex;
  height: 670px;
  margin: auto;
  max-width: 1600px;

  @media (max-width: 799px) {
    height: 1200px;
  }

  .kassi-index {
    height: 350px;
    margin-bottom: 200px;
    margin-top: 100px;

    @media (max-width: 799px) {
      margin-bottom: 10px;
      margin-top: 100px;
      text-align: center;
    }
  }

  .above {
    color: $color-3;
  }

  .below {
    color: $color-5;
    font-size: 1.125em;
    line-height: 2em;
  }

  h2 {
    font-size: 3.75em;
  }

  img {
    box-shadow: -15px 13px 20px #ddd9d9;
    margin-top: 100px;
    object-fit: fill;
    width: 100%;

    @media (max-width: 799px) {
      padding-top: 0;
    }
  }
}
