// fontar
$main-font-family: 'Poppins', helvetica, arial, sans-serif;
$h-font-family: 'Playfair Display', georgia, serif;

// grid
$columns: 12;

// litir
$black: #000;
$white: #fff;
$color-1: #fafafa;
$color-2: #f2f2f2;
$color-3: #E3CDB1;
$color-4: #9B9B9B;
$color-5: #5E5B69;


// max-width
$max-width: 1290px;
