// fontar
$main-font-family: 'Poppins', helvetica, arial, sans-serif;
$h-font-family: 'Playfair Display', georgia, serif;

// grid
$columns: 12;

// litir
$black: #000;
$white: #fff;
$color-1: #fafafa;
$color-2: #f2f2f2;
$color-3: #e3cdb1;
$color-4: #9b9b9b;
$color-5: #5e5b69;
$color-6: #f7f1eb;
$color-7: #e7e7e7;

// max-width
$max-width: 1290px;
