@import './config';

footer {
  background-color: $black;
  margin: auto;
  max-width: 1600px;
  padding-bottom: 120px;
  padding-top: 120px;

  .footer-texti {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: 799px) {
      h2,
      p {
        text-align: center;
      }
    }
  }

  p {
    color: $color-3;
  }

  h2 {
    color: $white;
    font-size: 2.5em;
  }

  label {
    color: $white;
    font-family: $h-font-family;
    font-size: 1.2em;
    margin-top: 0.7em;
  }

  input {
    background-color: transparent;
    border-color: $color-3;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    color: $white;
    font-family: $h-font-family;
    font-size: 22px;
    height: 33px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
}
/* stylelint-disable-next-line selector-class-pattern */
.lower_footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  &_text {
    color: $black;
    font-family: $main-font-family;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 3.5rem;

    @media (max-width: 799px) {
      color: $color-9;
    }
  }

  .website {
    color: $color-8;
    font-family: $main-font-family;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4rem;
    margin-top: 1rem;

    @media (max-width) {
      color: $color-0;
      font-size: 0.875rem;
    }
  }

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width: 200px;
    /* stylelint-disable-next-line max-nesting-depth */
    &_img {
      border: 1px solid $color-3;
      border-radius: 50px;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 8px;
      width: 40px;
    }

    @media (max-width: 799px) {
      display: none;
    }
    /* stylelint-disable-next-line max-nesting-depth */
    &_mobile {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      /* stylelint-disable-next-line max-nesting-depth */ /* stylelint-disable-next-line selector-class-pattern */
      .logos_img {
        @media (max-width: 799px) {
          border: 1px solid $color-8;
          border-radius: 50px;
          display: flex;
          height: 40px;
          justify-content: center;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          width: 40px;
        }
      }

      @media (min-width: 800px) {
        display: none;
      }
    }
  }
}
