@import './config';

footer {
  background-color: black;
  margin: auto;
  max-width: 1600px;
  padding-top: 120px;
  padding-bottom: 120px;

  .footer-texti {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (max-width: 799px) {
      h2,
      p {
        text-align: center;
      }
    }
  }

  p {
    color: $color-3;

  }

  h2 {
    color: $white;
    font-size: 2.5em;
  }

  label {
    color: $white;
    font-family: $h-font-family;
    font-size: 1.2em;
    margin-top: 0.7em;
  }

  input {
    background-color: transparent;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-color: $color-3;
    color: $white;
    font-family: $h-font-family;
    font-size: 22px;
    height: 33px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
}

.lower_footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_text {
    font-weight: 400;
    font-family: $main-font-family;
    font-size: 1.125rem;
    color:$black;
    margin-top: 3.5rem;


    @media (max-width:799px) {
      color:#2E2624;

    }
  }

  & .website {
    margin-top: 1rem;
    color:$color-8;
    font-weight: 300;
    font-family: $main-font-family;
    font-size: 14px;
    margin-bottom: 4rem;

    @media (max-width) {
      color: #D6D6D6;
      font-size: 0.875rem;

    }
  }

  & .logos {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;

    &_img {
      border: 1px solid #E3CDB1;
      border-radius: 50px;
      padding: 8px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;

    }


    @media (max-width:799px) {
      display: none;

    }

    &_mobile {
      margin-top: 1rem;
      display: flex;
    flex-direction: row;

      & .logos_img {
        @media (max-width:799px) {
          border: 1px solid #D0D0D0;
          margin-right: 0.5rem;
          margin-left:0.5rem;
          border-radius: 50px;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;

        }
      }
      @media (min-width: 800px) {
        display: none;

      }
    }
  }
}
