@import './config';
// stílar fyrir header
header {
  max-width: 1590px;
  height: 800px;
  background-color: $color-1;
  
  background-repeat: no-repeat;
  background-position: right;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .video {
    display: flex;
    width: 500px;
  }
  
  .header {
    margin: auto;
    padding-top: 250px;
    display: flex;

    &_content {

    }

    //background-size: cover;
    //background-image: url('../img/Video.png');

    
  }

  .nav>img {
    display: flex;
    justify-content: center;
    position: fixed;

  }

  .above {
    color: $color-3;
  }

  .below {
    color: $color-5;
    line-height: 2em;
    font-size: 1.125em;
  }

  h1 {
    font-size: 3.75em;
  }
}

@media (max-width: 799px) {
  header {
    background-position-x: 300px;
    .content {
      text-align: center;
    }

    .below {
      display: none;
    }
  }
}