@import './config';
// stílar fyrir header
header {
  max-width: 1590px;
  height: 800px;
  margin: auto;
  background-color: $color-1;
  background-image: url('/img/bg-cake.png');
  background-repeat: no-repeat;
  background-position: right;
  .content {
    padding-top: 250px;
  }

  .nav>img {
    display: flex;
    justify-content: center;
    position: fixed;

  }

  .above {
    color: $color-3;
  }

  .below {
    color: $color-5;
    line-height: 2em;
    font-size: 1.125em;
  }

  h1 {
    font-size: 3.75em;
  }
}
