@import './config';
/* stylelint-disable-next-line selector-class-pattern */
.fyrirsognEyebrow {
  color: $color-3;
  display: flex;
  margin-top: 100px;
}

.fyrirsogn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;

  p {
    font-size: 1.5em;
    padding-top: 1em;
  }
}
